<div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
    <div href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
        <h1 style="color:#0ad2ff">Ruya School Registration </h1>
        @*<span class="page-logo-text mr-1">WebApp</span>*@
    </div>
</div>