@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="col-xl-6 ml-auto mr-auto">
    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
       Reset your password.
    </h1>
    <div class="card p-4 rounded-plus bg-faded">
        <div style="text-align:center">
            <img src="~/img/logoRuya.png" />
        </div>
        <hr />
        <form id="js-login" method="post">
            <div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label class="form-label" asp-for="Input.Email">Username</label>
                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email for verification" value="" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.Email">Sorry, you missed this one.</span>
                <div class="help-block">The email address you registered with</div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.Password">New Password</label>
                <input type="password" asp-for="Input.Password" class="form-control" placeholder="Your password (minimum 6 characters)" value="" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.Password">Sorry, you missed this one.</span>
            </div>
             <div class="form-group">
                <label class="form-label" asp-for="Input.ConfirmPassword">Confirm New Password</label>
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Your password (minimum 6 characters)" value="" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.ConfirmPassword">Sorry, you missed this one.</span>
            </div>
            <div class="form-group text-left">
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 ml-auto mr-auto">
                    <button id="js-login-btn" type="submit" class="btn btn-info btn-block btn-lg">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
